h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: darkslategray;
}

img {
    align-self: auto;
}